<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
</head>
<body>
    <h1>Log in</h1>
    <h3>No Account?</h3>
    <a href="sign-up">Sign-up</a>
    <form action="/log-in" method="POST">
      <label for="username">Username:</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password:</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
</body>
</html>