<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="style-src https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js 'self' https://code.jquery.com/jquery-3.5.1.slim.min.js 'self' ">
  <title>Members Only Sign-up</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel='stylesheet' href="stylesheets/style.css" />
</head>
<body>
    <div class="container">
        <h1>Sign up</h1>
        <div class="no-account">
            <span>Already have an account?</span>
            <a href="/">Log in</a>
        </div>
        
        <% if(typeof alert != 'undefined') { %>
            <% alert.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% }) %>    
        <% } %>
      
          <form action="" method="POST">
            <div class="form-group">
                <label class="form-label" for="full_name">Name:</label>
                <input class="form-control" name="full_name" placeholder="John Smith" type="text" required />
            </div>
            <div class="form-group">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" name="username" placeholder="username" type="email" required />
            </div>  
            <div class="form-group">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" name="password" type="password" required />
            </div>  
            <div class="form-group">
                <label class="form-label" for="confirmPassword">Confirm Password:</label>
                <input class="form-control" name="confirmPassword" type="password" required />
            </div> 
            <div>Is Admin?</div>
            <div class="form-check">
                <input class="form-check-input" name="admin" type="checkbox" value=true id="yes">
                <label class="form-check-label" for="admin">
                    Yes
                </label>
            </div>  
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
    </div>
</body>
</html>